src/main/resources/wsdl/versions/pathwaysdos-1.1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Pathways DoS web service: v1.1 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://nww.pathwaysdos.nhs.uk/app/api/webservices"
    xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://nww.pathwaysdos.nhs.uk/app/api/webservices"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
            targetNamespace="https://nww.pathwaysdos.nhs.uk/app/api/webservices">

            <s:element name="ServiceDetailsById">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                        <s:element minOccurs="1" maxOccurs="1" name="serviceId"
                            type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            
            <s:element name="ServiceDetailsByIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ContactDetails"
                            type="tns:ArrayOfContactDetail" />
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:complexType name="ArrayOfContactDetail">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ContactDetail"
                        nillable="true" type="tns:ContactDetail"></s:element>
                </s:sequence>
            </s:complexType>

            <s:complexType name="ContactDetail">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="tag"
                        type="tns:contactType" />
                    <s:element minOccurs="1" maxOccurs="1" name="name"
                        type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="value"
                        type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="order"
                        type="s:int" />
                </s:sequence>
            </s:complexType>
            
            <s:element name="serviceVersion" type="s:string" />

            <s:element name="Dispositions">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="UserInfo">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="username"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="password"
                        type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="DispositionsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="DispositionsResult"
                            type="tns:ArrayOfDisposition" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfDisposition">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Disposition"
                        nillable="true" type="tns:Disposition" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Disposition">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="description"
                        type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="CheckCapacity">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                        <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Case" />
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="CheckCapacitySummary">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                        <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Case" />
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:complexType name="Case">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="caseRef"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="caseId"
                        type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="postcode"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="surgery"
                        type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="age" type="s:short" />
                    <s:element minOccurs="1" maxOccurs="1" name="ageFormat"
                        type="tns:ageFormatType" />
                    <s:element minOccurs="1" maxOccurs="1" name="disposition"
                        type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="symptomGroup"
                        type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1"
                        name="symptomDiscriminatorList" type="tns:ArrayOfInt" />
                    <s:element minOccurs="0" maxOccurs="1" name="searchDistance"
                        type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="gender"
                        type="tns:genderType" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="genderType">
                <s:restriction base="s:string">
                    <s:enumeration value="M" />
                    <s:enumeration value="F" />
                    <s:enumeration value="I" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="contactType">
                <s:restriction base="s:string">
                    <s:enumeration value="dts" />
                    <s:enumeration value="itk" />
                    <s:enumeration value="telno" />
                    <s:enumeration value="email" />
                    <s:enumeration value="faxno" />
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="ageFormatType">
                <s:restriction base="s:string">
                    <s:enumeration value="Years" />
                    <s:enumeration value="AgeGroup" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="ArrayOfInt">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="int"
                        type="s:int" />
                </s:sequence>
            </s:complexType>

            <s:element name="CheckCapacityResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CheckCapacityResult"
                            type="tns:ArrayOfServiceCareDestination" />
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="CheckCapacitySummaryResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1"
                            name="CheckCapacitySummaryResult" type="tns:ArrayOfServiceCareSummaryDestination" />
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:complexType name="ArrayOfServiceCareSummaryDestination">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded"
                        name="ServiceCareSummaryDestination" nillable="true"
                        type="tns:ServiceCareSummaryDestination" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareSummaryDestination">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="capacity"
                        type="tns:Capacity" />
                    <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="contactDetails"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="address"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="postcode"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="northings"
                        type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="eastings"
                        type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="obsolete"
                        type="s:boolean" />
                    <s:element minOccurs="1" maxOccurs="1" name="updateTime"
                        type="s:dateTime" />
                    <s:element minOccurs="1" maxOccurs="1" name="openAllHours"
                        type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="rotaSessions"
                        type="tns:ArrayOfServiceCareItemRotaSession" />
                    <s:element minOccurs="1" maxOccurs="1" name="serviceType"
                        type="tns:serviceDetails" />
                    <s:element minOccurs="0" maxOccurs="1" name="odsCode"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="rootParent"
                        type="tns:serviceDetails" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="serviceDetails">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
                    <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
                </s:sequence>
            </s:complexType>
            
            <s:complexType name="ArrayOfServiceCareDestination">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded"
                        name="ServiceCareDestination" nillable="true"
                        type="tns:ServiceCareDestination" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareDestination">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="capacity"
                        type="tns:Capacity" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="Capacity">
                <s:restriction base="s:string">
                    <s:enumeration value="High" />
                    <s:enumeration value="Low" />
                    <s:enumeration value="None" />
                </s:restriction>
            </s:simpleType>
            <s:element name="ServiceCare">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                        <s:element minOccurs="1" maxOccurs="1" name="serviceCareId"
                            type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ServiceCareResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ServiceCareResult"
                            type="tns:ServiceCareItem" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ServiceCareItem">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="contactDetails"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="address"
                        type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="obsolete"
                        type="s:boolean" />
                    <s:element minOccurs="1" maxOccurs="1" name="updateTime"
                        type="s:dateTime" />
                    <s:element minOccurs="1" maxOccurs="1" name="openAllHours"
                        type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" name="rotaSessions"
                        type="tns:ArrayOfServiceCareItemRotaSession" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfServiceCareItemRotaSession">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded"
                        name="ServiceCareItemRotaSession" nillable="true"
                        type="tns:ServiceCareItemRotaSession" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ServiceCareItemRotaSession">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="startDayOfWeek"
                        type="tns:DayOfWeek" />
                    <s:element minOccurs="0" maxOccurs="1" name="startTime"
                        type="tns:TimeOfDay" />
                    <s:element minOccurs="1" maxOccurs="1" name="endDayOfWeek"
                        type="tns:DayOfWeek" />
                    <s:element minOccurs="0" maxOccurs="1" name="endTime"
                        type="tns:TimeOfDay" />
                    <s:element minOccurs="0" maxOccurs="1" name="status"
                        type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:simpleType name="DayOfWeek">
                <s:restriction base="s:string">
                    <s:enumeration value="Sunday" />
                    <s:enumeration value="Monday" />
                    <s:enumeration value="Tuesday" />
                    <s:enumeration value="Wednesday" />
                    <s:enumeration value="Thursday" />
                    <s:enumeration value="Friday" />
                    <s:enumeration value="Saturday" />
                </s:restriction>
            </s:simpleType>
            <s:complexType name="TimeOfDay">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:short" />
                    <s:element minOccurs="1" maxOccurs="1" name="minutes"
                        type="s:short" />
                </s:sequence>
            </s:complexType>
            <s:element name="ExceptionCapture">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ExceptionCaptureResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1"
                            name="ExceptionCaptureResult" type="tns:ArrayOfExceptionCapture" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfExceptionCapture">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionCapture"
                        nillable="true" type="tns:ExceptionCapture" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="ExceptionCapture">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="exceptionid"
                        type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" name="reason"
                        type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="ServiceCareException">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userInfo"
                            type="tns:UserInfo" />
                        <s:element minOccurs="0" maxOccurs="1" name="serviceCareExp"
                            type="tns:ServiceCareException" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ServiceCareException">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="caseRef"
                        type="s:string" />
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
                    <s:element minOccurs="1" maxOccurs="1" name="exceptionid"
                        type="s:short" />
                </s:sequence>
            </s:complexType>
            <s:element name="ServiceCareExceptionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1"
                            name="ServiceCareExceptionResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="DispositionsSoapIn">
        <wsdl:part name="parameters" element="tns:Dispositions" />
    </wsdl:message>
    <wsdl:message name="DispositionsSoapOut">
        <wsdl:part name="parameters" element="tns:DispositionsResponse" />
    </wsdl:message>
    <wsdl:message name="CheckCapacitySoapIn">
        <wsdl:part name="parameters" element="tns:CheckCapacity" />
    </wsdl:message>
    <wsdl:message name="CheckCapacitySoapOut">
        <wsdl:part name="parameters" element="tns:CheckCapacityResponse" />
    </wsdl:message>
    <wsdl:message name="CheckCapacitySummarySoapIn">
        <wsdl:part name="parameters" element="tns:CheckCapacitySummary" />
    </wsdl:message>
    <wsdl:message name="CheckCapacitySummarySoapOut">
        <wsdl:part name="parameters" element="tns:CheckCapacitySummaryResponse" />
    </wsdl:message>
    <wsdl:message name="ServiceCareSoapIn">
        <wsdl:part name="parameters" element="tns:ServiceCare" />
    </wsdl:message>
    <wsdl:message name="ServiceCareSoapOut">
        <wsdl:part name="parameters" element="tns:ServiceCareResponse" />
    </wsdl:message>
    <wsdl:message name="ExceptionCaptureSoapIn">
        <wsdl:part name="parameters" element="tns:ExceptionCapture" />
    </wsdl:message>
    <wsdl:message name="ExceptionCaptureSoapOut">
        <wsdl:part name="parameters" element="tns:ExceptionCaptureResponse" />
    </wsdl:message>
    <wsdl:message name="ServiceCareExceptionSoapIn">
        <wsdl:part name="parameters" element="tns:ServiceCareException" />
    </wsdl:message>
    <wsdl:message name="ServiceCareExceptionSoapOut">
        <wsdl:part name="parameters" element="tns:ServiceCareExceptionResponse" />
    </wsdl:message>
    <wsdl:message name="ServiceVersionHeader">
        <wsdl:part name="ServiceVersion" element="tns:serviceVersion" />
    </wsdl:message>
    
    <wsdl:message name="ServiceDetailsByIdRequest">
        <wsdl:part element="tns:ServiceDetailsById" name="parameters" />
    </wsdl:message>
    <wsdl:message name="ServiceDetailsByIdResponse">
        <wsdl:part element="tns:ServiceDetailsByIdResponse" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="PathWayServiceSoap">
       <wsdl:operation name="ServiceDetailsById">
            <wsdl:documentation>This service returns attributes for a given
                service id, this currently returns the following attributes
                - contactdetails: This attribute contain any contact details for the
                specified service id.
                - tag: a short tag for the contact detail. E.g. itk, telno, faxno,
                dts
                - name: the friendly name of the contact detail. E.g. 111 routing,
                Telephone No, Fax No, DTS
                - priority: The priority of the contact detail for the service.
                - value: The actual contact detail value.
            </wsdl:documentation>
            <wsdl:input message="tns:ServiceDetailsByIdRequest" />
            <wsdl:output message="tns:ServiceDetailsByIdResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="Dispositions">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all the
                Disposition codes
            </wsdl:documentation>
            <wsdl:input message="tns:DispositionsSoapIn" />
            <wsdl:output message="tns:DispositionsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="CheckCapacity">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an ordered
                list of Service Care items that a particular case can be referred to
            </wsdl:documentation>
            <wsdl:input message="tns:CheckCapacitySoapIn" />
            <wsdl:output message="tns:CheckCapacitySoapOut" />
        </wsdl:operation>
        <wsdl:operation name="CheckCapacitySummary">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an ordered
                list of Service Care items with an integrated ServiceCare record
            </wsdl:documentation>
            <wsdl:input message="tns:CheckCapacitySummarySoapIn" />
            <wsdl:output message="tns:CheckCapacitySummarySoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ServiceCare">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns details of
                a specific ServiceCare item
            </wsdl:documentation>
            <wsdl:input message="tns:ServiceCareSoapIn" />
            <wsdl:output message="tns:ServiceCareSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ExceptionCapture">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all the
                ExceptionCapture items for a particular user
            </wsdl:documentation>
            <wsdl:input message="tns:ExceptionCaptureSoapIn" />
            <wsdl:output message="tns:ExceptionCaptureSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="ServiceCareException">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all the
                ExceptionCapture items for a particular user
            </wsdl:documentation>
            <wsdl:input message="tns:ServiceCareExceptionSoapIn" />
            <wsdl:output message="tns:ServiceCareExceptionSoapOut" />
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="PathWayServiceSoap" type="tns:PathWayServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ServiceDetailsById">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/DoSServices/ServiceDetailsById" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Dispositions">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/Dispositions"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckCapacity">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/CheckCapacity"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckCapacitySummary">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/CheckCapacitySummary"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ServiceCare">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceCare"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExceptionCapture">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ExceptionCapture"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ServiceCareException">
            <soap:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceCareException"
                style="document" />
            <wsdl:input>
                <soap:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="PathWayServiceSoap12" type="tns:PathWayServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ServiceDetailsById">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceDetailsById" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Dispositions">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/Dispositions"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckCapacity">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/CheckCapacity"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CheckCapacitySummary">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/CheckCapacitySummary"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ServiceCare">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceCare"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExceptionCapture">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ExceptionCapture"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ServiceCareException">
            <soap12:operation
                soapAction="https://nww.pathwaysdos.nhs.uk/app/api/webservices/ServiceCareException"
                style="document" />
            <wsdl:input>
                <soap12:header message="tns:ServiceVersionHeader" part="ServiceVersion"
                    use="literal" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PathWayService">
        <wsdl:port name="PathWayServiceSoap" binding="tns:PathWayServiceSoap">
            <soap:address location="https://nww.pathwaysdos.nhs.uk/app/api/webservices" />
        </wsdl:port>
        <wsdl:port name="PathWayServiceSoap12" binding="tns:PathWayServiceSoap12">
            <soap12:address location="https://nww.pathwaysdos.nhs.uk/app/api/webservices" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>